# Ignore Gradle project-specific cache directory
.gradle
/.classpath
/.gitattributes
/.project

# Ignore Gradle build output directory
build
/bin/
/gradle/
/.settings/

# properties
/src/main/resources/s-datasource.properties
/src/main/resources/s-job.properties
/src/main/resources/s-jpa.properties
/src/main/resources/s-quartz.properties
/src/main/resources/s-swagger.properties

# test
/src/test
